body {
    background-color: aqua;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: brown;   
}

p {
    color: blue;
}

img {
    width: 10%;
}

ul {
    list-style: none;
    color: red;
}